@import url('base/variables.css');
@import url('base/base.css');
@import url('layout/layout.css');
@import url('modules/components.css');
@import url('layout/navigation.css');
@import url('modules/map-controls.css');
@import url('modules/layers-nav.css');
@import url('modules/animations.css');
@import url('modules/settings.css');
@import url('modules/auth.css');
@import url('base/utilities.css');
@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  
  --font-heading: var(--font-family);
}